<!DOCTYPE html>
<html land="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/soybean.css">
  <!--<title><h1>U.S. Soybean Annual Yield in Year 2016</h1></title>-->
</head>

<body>
  <h1>U.S. Soybean Annual Yield in Year 2016</h1>
  <div class="row">
    <form action="/predict" method="POST">
      <div class="column left">
        <h4>Year of interest:</h4>
        <select name="year" id="year">
          <option value="2016">2016</option>
        </select>

        <h4>Location of interest:</h4>
        <label for="lat">Latitude</label>
        <select name="lat" id="lat">
          <option value="48.75">48.75</option>
          <option value="48.25">48.25</option>
          <option value="47.75">47.75</option>
        </select>

        <label for="lon">Longitude</label>
        <select name="lon" id="lon">
          <option value="264.75">264.75</option>
          <option value="260.75">260.75</option>
          <option value="257.75">257.75</option>
        </select>

        <h4>Key surface energy balance values</h4>
        <label for="JJA_SWdown">Incoming shortwave fluxes (June-August average) [W m-2]</label>
        <input type="text" id="JJA_SWdown" name="JJA_SWdown" placeholder="accepted value range ..">

        <label for="LWnet_May">Net longwave fluxes (May) [W m-2]</label>
        <input type="text" id="LWnet_May" name="LWnet_May" placeholder="accepted value range ..">

        <label for="JJA_LWnet">Net longwave fluxes (June-August average) [W m-2]</label>
        <input type="text" id="JJA_LWnet" name="JJA_LWnet" placeholder="accepted value range ..">

        <label for="JFMA_EF">Evaporative fraction (January-April average) [fraction]</label>
        <input type="text" id="JFMA_EF" name="JFMA_EF" placeholder="accepted value range ..">

        <label for="JJA_EF">Evaporative fraction (June-August average) [fraction]</label>
        <input type="text" id="JJA_EF" name="JJA_EF" placeholder="accepted value range ..">

        <label for="SO_EF">Evaporative fraction (September-October average) [fraction]</label>
        <input type="text" id="SO_EF" name="SO_EF" placeholder="accepted value range ..">

        <label for="Qle_Jan">Latent heat flux (January) [W m-2]</label>
        <input type="text" id="Qle_Jan" name="Qle_Jan" placeholder="accepted value range ..">
      </div>

      <div class="column middle">
        <h4>Rain and snow</h4>
        <label for="JFMA_Rainf">Precipitation rate (January-April average) [kg m-2]</label>
        <input type="text" id="JFMA_Rainf" name="JFMA_Rainf" placeholder="accepted value range ..">

        <label for="MJJ_Rainf">Precipitation rate (May-Jul average) [kg m-2]</label>
        <input type="text" id="MJJ_Rainf" name="MJJ_Rainf" placeholder="accepted value range ..">

        <label for="JF_Snowf">Snowfall rate (January-February) [kg m-2]</label>
        <input type="text" id="JF_Snowf" name="JF_Snowf" placeholder="accepted value range ..">

        <label for="Lead_AnnualTotal_Rainf">Total precipitation rate from the previous year [kg m-2]</label>
        <input type="text" id="Lead_AnnualTotal_Rainf" name="Lead_AnnualTotal_Rainf"
          placeholder="accepted value range ..">

        <h4>Soil moisture related values</h4>
        <label for="MJJA_SoilM_0_10cm">Surface soil moisture (May-August average) [kg m-2]</label>
        <input type="text" id="MJJA_SoilM_0_10cm" name="MJJA_SoilM_0_10cm" placeholder="accepted value range ..">

        <label for="SoilM_100_200cm_Sep">Soil moisture in 100-200cm depth (September) [kg m-2]</label>
        <input type="text" id="SoilM_100_200cm_Sep" name="SoilM_100_200cm_Sep" placeholder="accepted value range ..">

        <label for="JFMA_RootMoist">Root zone moisture (January-April average) [kg m-2]</label>
        <input type="text" id="JFMA_RootMoist" name="JFMA_RootMoist" placeholder="accepted value range ..">

        <!--<input type="submit" value="Submit">-->
        <div class="buttonHolder">
          <input value="submit" title="submit" type="submit" id="submit">
        </div>

        <!--Result-->
        <div id="result">
        </div>
      </div>

      <div class="column right">
        <h4>Surface evaporation</h4>
        <label for="ESoil_May">Soil evaporation (May) [W m-2]</label>
        <input type="text" id="ESoil_May" name="ESoil_May" placeholder="accepted value range ..">

        <label for="JJA_ESoil">Soil evaporation (Jun-August average) [W m-2]</label>
        <input type="text" id="JJA_ESoil" name="JJA_ESoil" placeholder="accepted value range ..">

        <label for="ECanop_Jan">Canopy evaporation (January) [W m-2]</label>
        <input type="text" id="ECanop_Jan" name="ECanop_Jan" placeholder="accepted value range ..">

        <h4>Other near-surface properties</h4>
        <label for="MJJA_Albedo">Surface albedo (May-August average) [unitless]</label>
        <input type="text" id="MJJA_Albedo" name="MJJA_Albedo" placeholder="accepted value range ..">

        <label for="AvgSurfT_Aug">Surface temperature (August) [K]</label>
        <input type="text" id="AvgSurfT_Aug" name="AvgSurfT_Aug" placeholder="accepted value range ..">

        <label for="JanToApr_LAI">Leaf area index (January-April average) [unitless]</label>
        <input type="text" id="JanToApr_LAI" name="JanToApr_LAI" placeholder="accepted value range ..">

        <label for="GVEG_Apr">Green vegetation (April) [fraction]</label>
        <input type="text" id="GVEG_Apr" name="GVEG_Apr" placeholder="accepted value range ..">

        <label for="ACond_Jan">Aerodynamic conductance (January) [m s-1]</label>
        <input type="text" id="ACond_Jan" name="ACond_Jan" placeholder="accepted value range ..">

        <label for="MayToOct_ACond">Aerodynamic conductance (May-October average) [m s-1]</label>
        <input type="text" id="MayToOct_ACond" name="MayToOct_ACond" placeholder="accepted value range ..">

      </div>
    </form>
  </div>
  </div>

  <!-- Javascript-->
  <script type=text/javascript src="{{
    url_for('static', filename='script.js')
  }}"></script>
</body>

</html>